@font-face {
  font-family: 'Cera Pro Regular';
  src: url('../fonts/cera/Cera Pro Regular.eot');
  src: url('../fonts/cera/Cera Pro Regular.woff') format('woff'), 
  url('../fonts/cera/Cera Pro Regular.ttf') format('truetype'), 
  url('../fonts/cera/Cera Pro Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cera Pro Medium';
  src: url('../fonts/cera/Cera Pro Medium.eot');
  src: url('../fonts/cera/Cera Pro Medium.woff') format('woff'), 
  url('../fonts/cera/Cera Pro Medium.ttf') format('truetype'), 
  url('../fonts/cera/Cera Pro Medium.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cera Pro Bold';
  src: url('../fonts/cera/Cera Pro Bold.eot');
  src: url('../fonts/cera/Cera Pro Bold.woff') format('woff'), 
  url('../fonts/cera/Cera Pro Bold.ttf') format('truetype'), 
  url('../fonts/cera/Cera Pro Bold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}